<h1>Редактировать {{curse.title}}</h1>

<form action="/curses/edit" method="POST">
  <div class="input-field col s6">
    <input
      id="title"
      name="title"
      type="text"
      class="validate"
      required
      value="{{curse.title}}"
    />
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field col s6">
    <input
      id="price"
      name="price"
      type="text"
      class="validate"
      required
      min="1"
      value="{{curse.price}}"
    />
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field col s6">
    <input
      id="img"
      name="img"
      type="text"
      class="validate"
      required
      value="{{curse.img}}"
    />
    <label for="img">URL курса</label>
    <span class="helper-text" data-error="Введите URL кртинки"></span>
  </div>

  <input type="hidden" name="id" value="{{curse.id}}" />

  <button class="btn btn-primary">Редактировать</button>
</form>